*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 10%;
    margin-bottom: 10%;
   width: 40vw;
   height: 100vh;
   border-radius: 10px;
   border: 1px solid rgb(95, 94, 94,0.3);
   padding: 2%;
}
   .inner-container{
    display: flex;
    flex-direction: column;
        
     height: 100%;
     width: 100%;
   }
   .Google-logo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
    height: 30%;
    align-items: center;
    justify-content: center;

   }
   .Google-logo img{
    height: 40%;
    width:auto;

   }
   .Google-logo h1{
    font-weight: 200;
   }
   .Google-logo p{
    word-spacing: 3px;
    color: rgb(27, 26, 26);
   }
   .input-text{
    display: flex;
    margin-top: 5%;
    position: relative;
    flex-direction: column;
   }
   .input-text input{
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(235, 233, 233, 0.1);
    outline: none;
    border: 1px solid gray;
    font-size: 20px;
    height:50px ;

   }
   .input-text label{
    color: gray;
     top: 10px;
     left: 10px;
     transition:top 0.5s;
        position: absolute;
   }
   .input-text input:focus ~ label{
    top: -10px;
    background-color: white;
    width: 30%;
    text-align: center;
    color: rgb(0, 119, 255);
   }
   .input-text input:focus{
    border: 2px solid rgb(0, 119, 255);
   }
   .input-text a{
    width: 50%;
    font-size: 15px;
    font-weight: 490;
    text-decoration: none;
    word-spacing: 3px;
    margin-top: 10px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .para{
    margin-top: 15%;
    display: flex;
   }
   .para p{
    font-size: 15px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   }
   .para a{
    color: blue;
    text-decoration: none;
   }
   .last{
     display: flex;
     justify-content: space-between;
     margin-top: 10%;
     height: 8%;
     align-items: center;
   }
   .last label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: blue;
   }
   .last label:hover{
    color: rgb(50, 50, 223);
   }
   .last button{
    height: 100%;
    width: 20%;
    border-radius:4px ;
    border: none;
    background-color: rgb(49, 49, 208);
    color: white;
   }
   .last button:hover{
    background-color: rgb(76, 76, 223);

   }